# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Go build artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go vendor folder
/vendor/

# Dependency / cache
go.sum
go.work
go.work.sum

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
